@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<hr />
<div style="text-align: center">
    <h1 class="">@ViewData["Title"]</h1>
</div>
<div class="row" style="min-height: 1000px">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <p class="text-danger">Bạn không được phép truy cập chức năng này.</p>
    </div>
    <div class="col-md-2"></div>
</div>