@{
    ViewData["Title"] = "Có lỗi";
}

<hr />
<div class="text-center">
    <h1 class="text-danger">@ViewData["Title"]</h1>
</div>
<div class="row" style="min-height: 450px">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center">
            Xảy ra lỗi
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>