@{
    ViewData["Title"] = "Thông báo lấy lại mật khẩu";
}

<hr />
<div class="text-center">
    <h1 class="text-info">@ViewData["Title"]</h1>
</div>
<div class="row" style="min-height: 450px">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center">
            Kiểm tra email để lấy lại mật khẩu.
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>