@{
    ViewData["Title"] = "Thông báo";
}

<hr />
<div class="text-center">
    <h1 class="text-success">@ViewData["Title"]</h1>
</div>
<div class="row" style="min-height: 450px">

    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2 class="text-center">
            Hãy kiểm tra hòm thư để biết cách xác thực tài khoản
        </h2>
    </div>
    <div class="col-md-1"></div>
</div>