@model SetUserPasswordModel
@{
    ViewData["Title"] = "Đặt mật khẩu";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Admin" asp-area="Admin">Admin</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-controller="User" asp-action="Index">Thành viên</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#">@ViewBag.user.UserName</a>
        </li>
    </ol>
</nav>

<div class="text-center">
    <h4>Thiết lập mật khẩu cho thành viên: @ViewBag.user.UserName</h4>
</div>
<div class="row" style="min-height: 450px">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <partial name="_StatusMessage" />
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Đặt mật khẩu</button>
            <a class="btn btn-primary" asp-action="Index">Danh sách thành viên</a>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
